.container {
  display: flex;
}

.cardModel {
  height: calc(100% - 60px);
  width: 100%;
  max-width: 600px;

  padding: 0px 25px;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  .fieldsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    input {
      height: 45px;
      width: 100%;
      font-size: 16px;
      background-color: #0b0e10;
      padding: 0px 10px;
      border: 1px solid #222b30;
      border-radius: 3px;
      color: var(--white);

      &:focus {
        border-color: var(--main);
      }
    }

    h3 {
      margin-bottom: 8px;
      color: var(--white) !important;
    }
  }

  button {
    height: 45px;
    width: 100%;
    display: flex;
    background-color: var(--main);
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid var(--complement-main);
    margin-top: 24px;
    font-weight: 700;
    border-radius: 5px;
  }

  img {
    width: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    input {
      height: 55px !important;
      font-size: 21px !important;
    }

    button {
      height: 55px !important;
    }
  }
}
