.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  left: 15px;
  top: 30px;

  width: calc(100% - 30px);
  height: calc(100% - 30px);

  .field {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  input {
    @extend .field;
  }

  select {
    @extend .field;
  }

  textarea {
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    resize: none;
    flex: 1;
    border-radius: 5px;
  }

  .fieldImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    svg {
      width: 60%;
      margin-left: 10px;
      margin-right: 10px;
      color: var(--main);
    }
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 10px;

    .primary {
      height: 45px;
      width: 100%;
      font-size: 16px;
      background-color: var(--main);
      border: 1px solid var(--complement-main);
    }

    .secondary {
      height: 45px;
      width: 100%;
      font-size: 16px;
      color: var(--main);
      border: 1px solid var(--main);
      background-color: transparent;
      margin-right: 30px;
    }
  }

  h2 {
    color: var(--white);
    margin-bottom: 10px;
  }

  .selectFieldsContainer {
    display: flex;
    width: 100%;
  }

  .containerFields {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.optionsContainer {
  position: absolute;
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  top: 30px;
  left: 60px;
  z-index: 1;

  button {
    border-radius: 100px;
    padding: 5px;
    background-color: var(--main);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.textEditorContainer {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.newMatterContainer {
  display: flex;
  width: calc(100% - 60px);
  height: calc(100% - 120px);

  .editorContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-right: 20px;
  }

  .fieldsContainer {
    display: flex;
    flex-direction: column;
    background-color: #123348;
    height: 100%;
    padding: 20px;
    padding-top: 40px;
    align-items: center;
    border-radius: 5px;
  }
}

.datagridContainer {
  height: calc(100% - 120px);
  width: calc(100% - 60px);
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
}
