.container {
  margin: 30px;
  margin-bottom: 60px;
  color: #fff;

  p {
    margin: 30px;
    color: #fff;
    font-size: 18px;
  }

  h1 {
    color: #fff;
    margin: 30px;
    margin-top: 50px;

    border-bottom: 3px solid var(--main);
    width: 50%;
    border-radius: 3px;
  }

  h3 {
    color: #fff;
    margin: 30px;
    margin-top: 50px;
  }

  a {
    color: var(--main);
  }

  ul {
    li {
      margin: 20px;
      margin-left: 30px;
      font-size: 18px;
    }
  }
}
