.container {
  color: #fff;
  display: flex;
  justify-content: center;

  margin: 15px 30px;
}

.relativeContainer {
  position: relative;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

.topItem {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  z-index: 1;
}

.topOneImgContainer {
  height: 360px;
  overflow: hidden;

  img {
    width: 100%;
    filter: brightness(0.75);
    transition: transform 0.3s;
  }
}

.othersImgContainer {
  width: 320px;
  height: 180px;
  overflow: hidden;

  img {
    width: 100%;
    filter: brightness(0.75);
    transition: transform 0.3s;
  }
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 25px;
  background-color: var(--main);
  color: #181818;
  font-weight: 700;
  border-radius: 3px;
}

.title {
  text-shadow: 0px 5px 20px #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mobileOthersContainer {
  .topItem {
    h2 {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 15px !important;
    flex-direction: column;
  }

  .mobileOthersContainer {
    display: flex;
    margin-top: 15px;
  }

  .tag {
    width: 125px !important;
    height: 35px !important;
    font-size: 1.5rem !important;
  }

  .relativeContainer {
    margin: 0px !important;
  }

  .othersImgContainer {
    width: auto !important;

    img {
      width: 170%;
    }
  }

  .topOneImgContainer {
    height: 215px !important;

    img {
      width: 100%;
    }
  }

  .topItem {
    h2 {
      font-size: revert !important;
    }
  }
}
