.container {
  width: 100vw;
  padding: 0px 60px;

  p {
    margin: 30px;
    color: #fff;
    font-size: 18px;
  }

  h1 {
    color: #fff;
    margin: 30px;
    margin-top: 50px;

    border-bottom: 3px solid var(--main);
    width: 35%;
    border-radius: 3px;
  }

  form {
    margin-left: -30px;

    button {
      font-weight: 700;
      height: 48px;
      width: 100%;
      border-radius: 8px;
      border: none;
      font-size: 20px;
      background-color: var(--main);
    }
  }
}

.fields {
  display: flex;
  flex-direction: column;

  input {
    height: 48px;
    border-radius: 8px;
    background-color: #ffffff;
    border: none;
    margin: 12px 0px 30px 0px;
  }

  label {
    color: #fff;
    font-size: 24px;
  }

  textarea {
    border-radius: 8px;
    background-color: #ffffff;
    border: none;
    margin: 12px 0px 30px 0px;
    resize: none;
    height: 300px;
  }
}
