.container {
  position: fixed;
  left: 0px;
  bottom: 12px;
  width: 100%;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: var(--main);
  }

  .modal {
    border-radius: 12px;
    width: 65%;
    background-color: #0f1519;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);

    button {
      border-radius: 12px;
      width: 40%;
      height: 40px;
      background-color: transparent;
      border: 1px solid #3c4850;
      color: #fff;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .modal {
      flex-direction: column;

      span {
        text-align: center;
      }

      button {
        width: 100% !important;
        margin-top: 12px;
      }
    }
  }
}
