.container {
  top: 0px;
  left: 0px;
  position: sticky;

  width: 100%;
  height: 3.75rem;
  display: flex;
  padding: 0 30px;
  flex-direction: row;
  justify-content: space-between;

  background-color: var(--background);

  z-index: 10;

  box-shadow: 0px 15px 10px rgb(0 0 0 / 50%);

  span {
    height: 100%;
    color: var(--gray-100);
    cursor: pointer;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: var(--complement-main);
    }
  }

  img {
    height: 50px;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerOptions {
  display: flex;
}

.optionsContainer {
  height: 100%;
  position: absolute;
  margin-top: 120px;
  z-index: 2;
  flex-direction: column;
  height: 100%;

  span {
    padding: 25px !important;
    background-color: var(--background);
  }
}

.player {
  background-color: var(--main);
  color: #181818 !important;
  font-weight: 700;
}

.menu {
  position: absolute;
  top: 0px;
  left: 15px;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;

  .btnMenu {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    justify-content: center !important;
    padding: 0px -1px !important;

    span {
      padding: 15px 24px !important;
      font-size: 1.5rem;
    }

    height: 4.5rem;

    img {
      height: 65px !important;
    }
  }

  .containerOptions {
    display: none;
  }

  .menu {
    display: flex !important;
  }
}
