.container {
  position: fixed;
  z-index: 20;
  background-color: var(--background);
  width: 60%;
  height: 100%;
  padding: 30px;
  font-size: 21px;
  color: #ffffff;
  top: 0px;
  left: 0px;

  animation-name: displaynav;
  animation-duration: 0.5s;

  ul {
    list-style: none;
  }

  .ul {
    margin-top: 75px;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-indent: -1.2em;
    padding: 10px 0px;
    padding-left: 16px;

    /* &:before {
      content: '►';
      display: block;
      float: left;
      width: 1em;
      color: var(--main);
      font-size: 10px;
      margin-left: 20px;
    }

    &:active {
      color: var(--main);
    } */

    img {
      width: 20px;
      margin-right: 48px;
    }

    .icon {
      width: 32px;
      margin-left: -8px;
      margin-right: 44px;
    }

    span {
      width: 100%;
      text-align: center;
    }
  }

  @keyframes displaynav {
    from {
      left: -60%;
    }
    to {
      left: 0px;
    }
  }

  @keyframes closenav {
    from {
      left: 0px;
    }
    to {
      left: -60%;
    }
  }
}

.subItems {
  // margin-left: 45px;
}

.blackShadow {
  position: fixed;
  z-index: 19;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.btnClose {
  background-color: transparent;
  color: var(--main);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  width: 30px;
  height: 30px;
  margin-right: 24px;
}

.headerContainer {
  position: absolute;
  // background-color: #1d252a;
  background-color: var(--background);
  display: flex;
  align-items: center;
  height: 94px;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 16px;

  img {
    width: 50%;
  }
}

.footer {
  top: auto !important;
  bottom: 0px;
  padding: 0px !important;

  @extend .headerContainer;
}
