.container {
  p {
    margin: 30px;
    color: #fff;
    font-size: 18px;

    frame {
      border: none;
    }
  }

  h1 {
    color: #fff;
    margin: 30px;
    margin-top: 50px;

    border-bottom: 3px solid var(--main);
    width: 35%;
    border-radius: 3px;
  }
}
